
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Shared styles */
.display-flex{
 display: flex;
}
.dark-2{
    color: #8987A1;
}
.dark-3{
    color:#252432;
}
.text-color{
    color: #E95A08;
}
.text-color-2{
    color: rgba(0, 0, 0, 0.5);
}
.nav-item{
    list-style: none;
    margin: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    /* align-items: center; */
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
/* Banner related styles */
.banner-containt{
    max-width: 570px;
}
.banner-img{
    max-width: 570px;
}
.banner-title{
    font-weight: 517;
    font-size: 65px;
}
.banner-description{
    font-weight: 570;
    font-size: 22px;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.plants{
    text-align: center;
}
.plants-title{
    font-weight: bold;
    font-size: 50px;
}
.plants-description{
    font-weight: 400;
    font-size: 22px;
}
.btn-primary{
    background-color: #E95A08;
    color: white;
    font-weight: 270;
    height: 50;
    border: none;
}
.plants-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.plan-text{
    align-items: center;
    justify-content: center;
}
.plant-love{
    font-weight: bold;
    font-size: 50px;
}
.flower-store{
    margin-top: 210px;
    text-align: center;
    justify-content: center;
    
}
.plant-love-title{
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}
.badge{
    max-width: 286 px;
    height: 286px;
    margin-left: 300px;
    margin-bottom: -138px;

    
}
.b-image{
    overflow: hidden;
}
.deals{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.details{
    font-weight: bold;
    font-size: 50px;
}
.row{
    display: flex;
    gap: 28px;
    border-radius: 8px;
}
.vaertical-collage{
    border-radius: 14px;
}
.rows{
    width: 100%;
    height: 100%;
    margin-top: 120px;
}

/* resposive media query */
@media screen and (max-width: 576px) {
    .navbar, .banner, .flower-store, .row {
        flex-direction: column;
    }
    .plants-img{
        grid-template-columns: repeat(2, 1fr);
    }

    }
